<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <a ui-sref="app.newinvoice" class="btn btn-success">New invoice</a>
    </div>
    <h2>Invoices</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Customer</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="invoice in invoices">
        <td><a ui-sref="app.invoice({id:invoice._id})">{{invoice.number}}</a></td>
        <td>{{invoice.date|date}}</td>
        <td>{{invoice.debiteur.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<h3>NodeJS</h3>
<div hljs>
    / GET list of invoices. /
    server.get('/api/invoice/', function (req, res, next) {
      //find all the invoices, and populate it with the corresponding product data
      invoice.find().populate("products").populate("debiteur").exec(function (err, results) {
        if (err){
          res.status(404).json(err);
        }else {
          res.status(200).json(results);
        }
      })
    });
</div>
<h4>Result</h4>
<div hljs>
    [{"_id": "554cd671d4a1f8282d15bf79",
      "debiteur": {
        "_id": "554cd062786e4be414b15ca4",
        "name": "Bram Eikelboom",
        "zipcode": "4535JD",
        "city": "Terneuzen",
        "street": "Everingen",
        "address": 22,
        "email": "eike0004@hz.nl",
        "__v": 0
      },
      "status": "verzonden",
      "number": 2015001,
      "__v": 0,
      "products": [{
        "_id": "55476e4d235336ec28c67a55",
        "name": "Gewerkte uren",
        "description": "gewerkte uren",
        "price": 36.3,
        "__v": 0
      }],
      "invoiceFields": [{"description": "verven boot", "amount": 10, "price": 10.5, "_id": "554cd671d4a1f8282d15bf7a"}],
      "date": "2015-05-08T15:29:53.540Z"
    }, {"_id": "554cd6c3d4a1f8282d15bf7b",
      "debiteur": {
        "_id": "55475ece1a8a433829ea15e7",
        "name": "Bjorn de mul",
        "zipcode": "4587RB",
        "city": "Kloosterzande",
        "street": "kruisdorpstraat",
        "address": 11,
        "email": "bjorndemul@gmail.com",
        "__v": 0
      },
      "status": "verzonden",
      "number": 2015002,
      "__v": 0,
      "products": [],
      "invoiceFields": [{"description": "verven boot", "amount": 10, "price": 10.5, "_id": "554cd6c3d4a1f8282d15bf7c"}],
      "date": "2015-05-08T15:31:15.647Z"
    }]
</div>

<h3>Service</h3>
<div hljs>
  <script>
    angular.module('canonApp')
      .service('Invoice', ['$resource', function ($resource) {
        return $resource('api/invoice/:id', {}, {
          query: {method: 'GET', isArray: true},
          save: {method: 'POST'},
          delete: {method: 'DELETE'},
          update: {method: 'PUT'}
        });
      }]);
  </script>
</div>
<h3>Controller</h3>
<div hljs>
  <script>
    angular.module('canonApp')
      .controller('InvoicesCtrl', function ($scope, Invoice) {
        $scope.invoices = Invoice.query();
      });
  </script>
</div>
<h3>View</h3>
<div hljs>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <a ui-sref="app.newinvoice" class="btn btn-success">New invoice</a>
      </div>
      <h2>Invoices</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in invoices">
          <td><a ui-sref="app.invoice({id:invoice._id})">{{invoice.number}}</a></td>
          <td>{{invoice.date|date:"yyyy-mm-dd"}}</td>
          <td>{{invoice.debiteur.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
